<!DOCTYPE html>
<html lang="UTF-8>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">

    <title>首頁</title>
</head>
<body>
<div>
    <img src="../static/P_20181005_105721_vHDR_On_HP.jpg" alt="背景圖案">
    <h1>歡迎光臨，請輸入帳號密碼</h1>
    <form action="/signin" method="post">
        <h2>登入系統</h2>
        <input class="typing" type="text" id="account" name="account" placeholder="請輸入帳號">
        <input class="typing" type="password" id="password" name="password" placeholder="請輸入密碼">
        <input class="submit" type="submit" value="登入" style="cursor: pointer">
    </form>
</div>
</body>
</html>